<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-3xl">
            <!-- Sectioned form with separate cards #3 -->
            <form [formGroup]="userForm">
                <div class="flex flex-col  bg-card shadow rounded overflow-hidden">
                    <mat-divider></mat-divider>
                    <div class="p-8 pb-4">
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span
                                class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Nom</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'username'"
                                       placeholder="Ajouter le nom de formateur">
                                <mat-error *ngIf="userForm.get('username').hasError('required')">
                                    Username is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Adresse email</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'email'"
                                       placeholder="Ajouter l'email">
                                <mat-error *ngIf="userForm.get('email').hasError('required')">
                                    Email is required
                                </mat-error>
                                <mat-error *ngIf="userForm.get('email').hasError('email')">
                                    Please enter a valid email address
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline" *ngIf="!isUpdate">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Mot de passe</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input id="password" matInput type="password" [formControlName]="'password'"
                                       #passwordField>
                                <button
                                    mat-icon-button
                                    type="button"
                                    (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                                    matSuffix>
                                    <mat-icon
                                        class="icon-size-5"
                                        *ngIf="passwordField.type === 'password'"
                                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    <mat-icon
                                        class="icon-size-5"
                                        *ngIf="passwordField.type === 'text'"
                                        [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                                </button>
                                <mat-error *ngIf="userForm.get('password').hasError('required')">
                                    Password is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline" *ngIf="!isUpdate">
                            <span
                                class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Role</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <mat-select [value]="'Choose the role'" [formControlName]="'roles'">
                                    <mat-option *ngFor="let role of roles"
                                                [value]="role?.roleName">{{role?.value}}</mat-option>

                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <mat-form-field
                                class="flex-auto gt-xs:pr-3">
                                <mat-label>Direction régional</mat-label>
                                <select matNativeControl formControlName="directionRegional">
                                    <option
                                        *ngFor="let item of directionRegionals$ | async"
                                        [value]="item?.id">{{item?.codeDirection}}</option>
                                </select>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <mat-form-field
                                class="flex-auto gt-xs:pr-3">
                                <mat-label>Agence</mat-label>
                                <select matNativeControl formControlName="agence">
                                    <option
                                        *ngFor="let item of agences$ | async"
                                        [value]="item?.id">{{item?.codeAgence}}</option>
                                </select>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <mat-form-field
                                class="flex-auto gt-xs:pr-3">
                                <mat-label>Structure Central</mat-label>
                                <select matNativeControl formControlName="structureCentral">
                                    <option
                                        *ngFor="let item of structureCentrals$ | async"
                                        [value]="item?.id">{{item?.codeStructure}}</option>
                                </select>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <mat-form-field
                                class="flex-auto gt-xs:pr-3">
                                <mat-label>Centre Archive</mat-label>
                                <select matNativeControl formControlName="centreArchive">
                                    <option
                                        *ngFor="let item of centreArchive$ | async"
                                        [value]="item?.id">{{item?.codeCentreArchive}}</option>
                                </select>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <mat-form-field
                                class="flex-auto gt-xs:pr-3">
                                <mat-label>Centre pré Archive</mat-label>
                                <select matNativeControl formControlName="centrePreArchive">
                                    <option
                                        *ngFor="let item of centrePreArchive$ | async"
                                        [value]="item?.id">{{item?.codeCentrePreArchive}}</option>
                                </select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>


                <div class="flex items-center justify-end mt-10">
                    <button mat-button (click)="cancelUserForm()">
                        Cancel
                    </button>
                    <button *ngIf="isUpdate else onCreate" (click)="updateUser()"
                            class="px-6 ml-3"
                            mat-flat-button
                            [color]="'warn'">
                        Update
                    </button>
                    <ng-template #onCreate>
                        <button (click)="addUser()"
                                class="px-6 ml-3"
                                mat-flat-button
                                [disabled]="!userForm.valid"
                                [color]="'primary'">
                            Save
                        </button>
                    </ng-template>
                </div>
            </form>
        </div>
    </div>
</div>

