<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-3xl">
            <!-- Sectioned form with separate cards #3 -->
            <form [formGroup]="agenceForm">
                <div class="flex flex-col  bg-card shadow rounded overflow-hidden">
                    <div class="p-8 pb-4">
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4
                            gt-xs:mb-0">Code Agence</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'codeAgence'" rows="2"
                                       placeholder="Ajouter le Code Agence">
                                <mat-error *ngIf="agenceForm.controls.codeAgence.hasError('required')">
                                    Code Agence est obligatoire
                                </mat-error>

                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4
                            gt-xs:mb-0">Libelle Agence</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'libelleAgence'" rows="2"
                                       placeholder="Ajouter le Libelle Agence">
                                <mat-error *ngIf="agenceForm.controls.libelleAgence.hasError('required')">
                                    Libelle Agence est obligatoire
                                </mat-error>

                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4
                            gt-xs:mb-0">Lieu archive</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'lieuArchive'" rows="2"
                                       placeholder="Ajouter le Lieu archive">
                                <mat-error *ngIf="agenceForm.controls.lieuArchive.hasError('required')">
                                    Lieu archive est obligatoire
                                </mat-error>

                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4
                            gt-xs:mb-0">Lieu archive sec age</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'lieuArchiveSecAge'" rows="2"
                                       placeholder="Ajouter le Lieu archive sec age">
                                <mat-error *ngIf="agenceForm.controls.lieuArchiveSecAge.hasError('required')">
                                    Lieu archive sec age est obligatoire
                                </mat-error>

                            </mat-form-field>
                            <mat-form-field
                                class="flex-auto gt-xs:pr-3">
                                <mat-label>Structure centrale</mat-label>
                                <select matNativeControl formControlName="structure">
                                    <option [ngValue]="structureCentrals"
                                            *ngFor="let structureCentrals of structureCentrals$ | async">{{structureCentrals?.codeStructure}}</option>
                                </select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="flex items-center justify-end mt-10">
                    <button mat-button>
                        Cancel
                    </button>
                    <button (click)="createAgence()"
                            class="px-6 ml-3"
                            mat-flat-button
                            [disabled]="!agenceForm.valid"
                            [color]="'primary'">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

