<div class="flex flex-col flex-auto min-w-0">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Trainers</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Add</a>
                </div>
            </div>
            <!-- Title -->
            <!--            <div class="mt-2">-->
            <!--                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">-->
            <!--                    Layouts-->
            <!--                </h2>-->
            <!--            </div>-->
        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-3xl">
            <!-- Sectioned form with separate cards #3 -->
            <form [formGroup]="trainerForm">
                <div class="flex flex-col mt-8 bg-card shadow rounded overflow-hidden">
                    <div class="p-8 bg-gray-50 dark:bg-gray-700">
                        <p class="text-lg font-medium">New trainer</p>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="p-8 pb-4">
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span
                                class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Name</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'username'"
                                       placeholder="Ajouter le nom de formateur">
                                <mat-error *ngIf="trainerForm.get('username').hasError('required')">
                                    Username is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Email address</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'email'"
                                       placeholder="Ajouter l'email">
                                <mat-error *ngIf="trainerForm.get('email').hasError('required')">
                                    Email is required
                                </mat-error>
                                <mat-error *ngIf="trainerForm.get('email').hasError('email')">
                                    Please enter a valid email address
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Password</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input id="password" matInput type="password" [formControlName]="'password'"
                                       #passwordField>
                                <button
                                    mat-icon-button
                                    type="button"
                                    (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                                    matSuffix>
                                    <mat-icon
                                        class="icon-size-5"
                                        *ngIf="passwordField.type === 'password'"
                                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    <mat-icon
                                        class="icon-size-5"
                                        *ngIf="passwordField.type === 'text'"
                                        [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                                </button>
                                <mat-error *ngIf="trainerForm.get('password').hasError('required')">
                                    Password is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                    </div>
                </div>
                <div class="flex flex-col mt-8 bg-card shadow rounded overflow-hidden">
                    <div class="p-8 bg-gray-50 dark:bg-gray-700">
                        <p class="text-lg font-medium">Technique</p>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="p-8 pb-4">
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span
                                class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Skills</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <mat-chip-list #chipList02>
                                    <mat-chip *ngFor="let skill of skills" (removed)="removeSkills(skill)"
                                              [removable]="true"
                                              [selectable]="true">
                                        {{skill?.title}}
                                        <mat-icon
                                            class="icon-size-5"
                                            matChipRemove
                                            [svgIcon]="'heroicons_solid:minus-circle'"></mat-icon>
                                    </mat-chip>


                                    <input (matChipInputTokenEnd)="addSkills($event)"
                                           [placeholder]="'Skills...'"
                                           [matChipInputFor]="chipList02">
                                </mat-chip-list>

                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span
                                class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Poste</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'post'"
                                       placeholder="Ajouter l'post">
                                <mat-error *ngIf="trainerForm.get('post').hasError('required')">
                                    Poste is required
                                </mat-error>

                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span
                                class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">About</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">

                                <textarea
                                    matInput [formControlName]="'about'"
                                    [placeholder]="'About'"
                                    [rows]="3"></textarea>
                                <mat-error *ngIf="trainerForm.get('about').hasError('required')">
                                    About is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                    </div>
                </div>

                <div class="flex flex-col flex-auto mt-8 bg-card shadow rounded overflow-hidden">
                    <div class="p-8 bg-gray-50 dark:bg-gray-700">
                        <p class="text-lg font-medium">File</p>
                        <p class="text-secondary">Can you add your cover picture </p>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="p-8 pb-4">
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Trainer picture</span>
                            <div>
                                <input
                                    id="image-file-input"
                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                    type="file"
                                    [accept]="'image/jpeg, image/png'"
                                    (change)="uploadImage(imageFileInput.files)"
                                    #imageFileInput>
                                <label
                                    class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-gray-400 hover:bg-opacity-20 dark:hover:bg-black dark:hover:bg-opacity-5"
                                    for="image-file-input"
                                    matRipple>
                                    <mat-icon [svgIcon]="'heroicons_outline:photograph'"></mat-icon>
                                </label>
<!--                                {{trainerForm.get('picture').errors | json}}-->
<!--                                <mat-error *ngIf="trainerForm.get('picture').hasError('required')">-->
<!--                                    Picture is required-->
<!--                                </mat-error>-->
                            </div>
                        </div>
                    </div>
                </div>


                <div class="flex items-center justify-end mt-10">
                    <button mat-button (click)="cancelTrainerForm()">
                        Cancel
                    </button>
                    <button (click)="addTrainer()"
                            class="px-6 ml-3" [disabled]="trainerForm.invalid"
                            mat-flat-button
                            [color]="'primary'">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

