<form [formGroup]="form">
    <ng-container formArrayName="quizs">

        <ng-container *ngFor="let quizForm of quizs.controls ; let i = index; "
                      [formGroup]="quizForm">
            <div class="p-2 bg-gray-50 dark:bg-gray-700">
                <p class="text-lg font-medium">Question {{i + 1}}</p>
            </div>
            <mat-divider></mat-divider>
            <p class="my-6 font-medium">
                Put question
            </p>
            <div class="flex">
                <mat-form-field class="flex-1">
                    <input matInput [formControlName]="'questions'" [placeholder]="'Add question'"
                           required>
                    <mat-icon class="icon-size-5" matPrefix
                              [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                </mat-form-field>
            </div>
            <p class="my-6 font-medium">
                Put possible answers
            </p>
            <div class="flex">
                <mat-form-field class="flex-auto">
                    <input matInput [formControlName]="'answer1'" [placeholder]="'Add answer 1'"
                           required>

                    <mat-icon class="icon-size-5" matPrefix
                              [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                    <!--                    <mat-checkbox (change)="showOptions($event)"  color="primary" [formControlName]="'correctRequest'"></mat-checkbox>-->
                    <mat-checkbox  [name]="''+i+1" [id]="'correctRequest'+i" [formControlName]="'correctRequest1'"
                                   [value]="' '+i"></mat-checkbox>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="flex-auto">
                    <input matInput [formControlName]="'answer2'" [placeholder]="'Add answer 2'"
                           required>

                    <mat-icon class="icon-size-5" matPrefix
                              [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                    <!--                    <mat-checkbox (change)="showOptions($event)"  color="primary" [formControlName]="'correctRequest'"></mat-checkbox>-->
                    <mat-checkbox  [name]="''+i+2" [id]="'correctRequest'+i+1" [formControlName]="'correctRequest2'"
                                   [value]="' '+i"></mat-checkbox>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="flex-auto">
                    <input matInput [formControlName]="'answer3'" [placeholder]="'Add answer 3'"
                           required>
                    <mat-icon class="icon-size-5" matPrefix
                              [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                    <!--                    <mat-checkbox (change)="showOptions($event)"  color="primary" [formControlName]="'correctRequest'"></mat-checkbox>-->
                    <mat-checkbox  [name]="''+i+3" [id]="'correctRequest'+i+2" [formControlName]="'correctRequest3'"
                                   [value]="' '+i"></mat-checkbox>
                </mat-form-field>
            </div>
            <div class="flex justify-end">
                <button class="px-8 mr-2" mat-flat-button [color]="'accent'"
                        type="button"
                        matStepperPrevious (click)="deleteQuiz(i)">
                    Delete
                </button>

            </div>
        </ng-container>
    </ng-container>
    <div class="flex justify-end my-6 font-medium" *ngIf="index<3">

        <button class="px-8 mr-2" mat-flat-button [color]="'primary'"
                type="button"
                (click)="addQuiz($event)">
            Add
        </button>
    </div>
</form>
