<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-3xl">
            <!-- Sectioned form with separate cards #3 -->
            <form [formGroup]="structureCentralForm">
                <div class="flex flex-col  bg-card shadow rounded overflow-hidden">
                    <div class="p-8 pb-4">
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4
                            gt-xs:mb-0">Code Structure</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'codeStructure'" rows="2"
                                       placeholder="Ajouter le code structure">
                                <mat-error *ngIf="structureCentralForm.controls.codeStructure.hasError('required')">
                                    Code Structure est obligatoire
                                </mat-error>

                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4
                            gt-xs:mb-0">Libelle tructure</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'libelleStructure'" rows="2"
                                       placeholder="Ajouter le Libelle structure">
                                <mat-error *ngIf="structureCentralForm.controls.libelleStructure.hasError('required')">
                                    Libelle structure est obligatoire
                                </mat-error>

                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4
                            gt-xs:mb-0">Lieu archive</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'lieuArchive'" rows="2"
                                       placeholder="Ajouter le Lieu archive">
                                <mat-error *ngIf="structureCentralForm.controls.lieuArchive.hasError('required')">
                                    Lieu archive est obligatoire
                                </mat-error>

                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4
                            gt-xs:mb-0">Lieu archive seconde âge</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'lieuArchiveSecAge'" rows="2"
                                       placeholder="Ajouter le Lieu archive sec age">
                                <mat-error *ngIf="structureCentralForm.controls.lieuArchiveSecAge.hasError('required')">
                                    Lieu archive sec age est obligatoire
                                </mat-error>

                            </mat-form-field>
                            <p *ngIf="(directions$ | async).length === 0 else direction">
                                Direction vous
                                pouvez
                                l'ajouter
                                <a routerLink="/pages/add-direction-regional">Ajouter direction</a>
                            </p>
                            <ng-template #direction>

                                <mat-form-field
                                    class="flex-auto gt-xs:pr-3">
                                    <mat-label>Direction régional</mat-label>
                                    <select matNativeControl formControlName="directeur">
                                        <option [ngValue]="direction"
                                                *ngFor="let direction of directions$ | async">{{direction?.codeDirection}}</option>
                                    </select>
                                </mat-form-field>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div class="flex items-center justify-end mt-10">
                    <button mat-button>
                        Cancel
                    </button>
                    <button (click)="createStructureCentral()"
                            class="px-6 ml-3"
                            mat-flat-button
                            [disabled]="!structureCentralForm.valid"
                            [color]="'primary'">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

