<button type="button" class="btn btn-primary btn-lg mb-3" (click)="openCreateDirectionModal()">Ajouter une Direction Regional</button>



<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModalLabel">Ajouter Direction Regional</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form  #createForm="ngForm"> 
            <div class="mb-3">
              <label for="codeDirection" class="form-label">Code Direction</label>
              <input type="text" class="form-control" id="codeDirection" name="codeDirection" [(ngModel)]="newDirectionRegional.codeDirection" pattern="\d+"  required>
            </div>
            <div class="mb-3">
              <label for="libelleDirection" class="form-label">Libelle Direction</label>
              <input type="text" class="form-control" id="libelleDirection" name="libelleDirection" [(ngModel)]="newDirectionRegional.libelleDirection"  required>
            </div>
            <div class="mb-3">
              <label for="lieuArchive" class="form-label">Lieu Archive</label>
              <input type="text" class="form-control" id="lieuArchive" name="lieuArchive" [(ngModel)]="newDirectionRegional.lieuArchive" required>
            </div>
            <div class="mb-3">
              <label for="lieuArchiveSecAge" class="form-label">Lieu Archive Sec Age</label>
              <input type="text" class="form-control" id="lieuArchiveSecAge" name="lieuArchiveSecAge" [(ngModel)]="newDirectionRegional.lieuArchiveSecAge" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" (click)="createDirectionRegional(createForm)" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="alert-container"></div>