<ng-container *ngIf="(quizs$|async) as quizs">
    <div class="flex flex-col flex-auto min-w-0" id="first">
        <!-- Main -->
        <div class="flex-auto p-6 sm:p-10">
            <div class="max-w-3xl mx-auto">
                <form class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden">
                    <div class="flex flex-row justify-between">

                        <p class="text-lg font-medium">{{quizs?.title}}</p>
                        <p class="text-secondary mb-6 col-end-1" *ngIf="showResult">
                            {{correctScore}}   / {{quizs.quiz.length}}
                        </p>
                    </div>
                    <div class="flex flex-row gt-sm:flex-row" *ngFor=" let quiz of quizs.quiz">
                        <div class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16"
                             *ngFor=" let question of quiz.questions;">
                            <span class="font-semibold mb-2">{{question?.question}}</span>

                            <mat-radio-group
                                class="flex flex-col"

                                [value]="'index'">
                                <mat-radio-button #answerRequest *ngFor="let answer of question.answers;let index;"
                                                  (change)="getCorrectAnswer($event,answer)"
                                                  class="mb-2"
                                                  [ngStyle]="{'border-color':showResult && answer.correctRequest?'green':'red'}"
                                                  [value]="answer">
                                    {{answer?.answer}}
                                </mat-radio-button>

                            </mat-radio-group>
                        </div>
                    </div>
                    <div
                        class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                        <button mat-button [routerLink]="['/apps/academy']">
                            Cancel
                        </button>
                        <button (click)="submitted(quizs)"
                                class="px-6 ml-3"
                                mat-flat-button
                                [color]="'primary'">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-container>
