<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-3xl">
            <!-- Sectioned form with separate cards #3 -->
            <form [formGroup]="documentForm">
                <div class="flex flex-col  bg-card shadow rounded overflow-hidden">
                    <div class="p-8 pb-4">
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4
                            gt-xs:mb-0"> Nombre de page</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'nomberPage'" rows="2"
                                       placeholder="Ajouter le nomber page">
                                <mat-error *ngIf="documentForm.controls.nomberPage.hasError('required')">
                                    le nomber page est obligatoire
                                </mat-error>

                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4
                            gt-xs:mb-0">Numéro document</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'numDocument'" rows="2"
                                       placeholder="Ajouter le nomber page">
                                <mat-error *ngIf="documentForm.controls.numDocument.hasError('required')">
                                    le nomber page est obligatoire
                                </mat-error>

                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4
                            gt-xs:mb-0">Code lieu archive</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'codeLieuArchive'" rows="2"
                                       placeholder="Ajouter le Code lieu archive">
                                <mat-error *ngIf="documentForm.controls.codeLieuArchive.hasError('required')">
                                    Code lieu archive est obligatoire
                                </mat-error>

                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4
                            gt-xs:mb-0">Lieu archive</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'lieuArchive'" rows="2"
                                       placeholder="Ajouter le Lieu archive">
                                <mat-error *ngIf="documentForm.controls.lieuArchive.hasError('required')">
                                    Lieu archive est obligatoire
                                </mat-error>

                            </mat-form-field>
                            <mat-form-field
                                class="flex-auto gt-xs:pr-3">
                                <mat-label>Nomenclature</mat-label>
                                <select matNativeControl formControlName="nomenclature">
                                    <option [ngValue]="nomenclature"
                                            *ngFor="let nomenclature of nomenclatures$ | async">{{nomenclature?.designationNomenclature}}</option>
                                </select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="flex items-center justify-end mt-10">
                    <button mat-button>
                        Cancel
                    </button>
                    <button *ngIf="isUpdate else onCreate" (click)="updateDocument()"
                            class="px-6 ml-3"
                            mat-flat-button
                            [color]="'warn'">
                        Update
                    </button>
                    <ng-template #onCreate>
                        <button (click)="createDocument()"
                                class="px-6 ml-3"
                                mat-flat-button
                                [disabled]="!documentForm.valid"
                                [color]="'primary'">
                            Save
                        </button>
                    </ng-template>
                </div>
            </form>
        </div>
    </div>
</div>

