<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <!--    <div-->
    <!--        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">-->
    <!--        <div class="flex-1 min-w-0">-->
    <!--            &lt;!&ndash; Breadcrumbs &ndash;&gt;-->
    <!--            <div class="flex flex-wrap items-center font-medium">-->
    <!--                <div>-->
    <!--                    <a class="whitespace-nowrap text-primary-500">Quiz management</a>-->
    <!--                </div>-->
    <!--                <div class="flex items-center ml-1 whitespace-nowrap">-->
    <!--                    <mat-icon-->
    <!--                        class="icon-size-5 text-secondary"-->
    <!--                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>-->
    <!--                    <a class="ml-1 text-primary-500">Add</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            &lt;!&ndash; Title &ndash;&gt;-->
    <!--        </div>-->
    <!--    </div>-->

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-3xl">
            <!-- Vertical stepper -->

            <!--                <ng-container formArrayName="quizs">-->
            <!--                    <ng-container *ngFor="let quizForm of quizs.controls | reverse ;let item=index;">-->

            <mat-vertical-stepper [linear]="true" #verticalStepper="matVerticalStepper">
                <mat-step
                    [stepControl]="step.form" errorMessage="Quiz in error">

                    <ng-template *ngIf="(directionRegional$|async) as DirectionRegional" matStepLabel>Add quiz - {{DirectionRegional?.title}} - {{DirectionRegional?.step?.title}}</ng-template>
                    <app-add-quiz-step #step></app-add-quiz-step>
                    <div class="flex justify-end my-6" *ngIf="step.index===3">

                        <button [disabled]="!step.form.valid || step.quizs.length === 0 " class="px-8"
                                mat-flat-button
                                [color]="'primary'" type="button"
                                (click)="submit(step.form.value)" matStepperNext>
                            Confirm
                        </button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </div>
    </div>
</div>
