<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-3xl">
            <!-- Sectioned form with separate cards #3 -->
            <form [formGroup]="centreForm">
                <div class="flex flex-col  bg-card shadow rounded overflow-hidden">
                    <div class="p-8 pb-4">
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4
                            gt-xs:mb-0"> Code Centre Pré Archive</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input type="text" matInput [formControlName]="'codeCentrePreArchive'" rows="2"
                                       placeholder="Ajouter code centre archive">
                                <mat-error *ngIf="centreForm.controls.codeCentrePreArchive.hasError('required')">
                                    Code Centre Archive est obligatoire
                                </mat-error>

                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4
                            gt-xs:mb-0">Libelle Centre Pré Archive</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'libelleCentrePreArchive'" rows="2"
                                       placeholder="Ajouter Libelle Centre Archive">
                                <mat-error *ngIf="centreForm.controls.libelleCentrePreArchive.hasError('required')">
                                    Libelle Centre Archive est obligatoire
                                </mat-error>

                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="flex items-center justify-end mt-10">
                    <button mat-button>
                        Cancel
                    </button>
                    <button (click)="editCentrePreArchive()" *ngIf="isUpdate else onCreate"
                            class="px-6 ml-3"
                            mat-flat-button
                            [color]="'warn'">
                        Update
                    </button>
                    <ng-template #onCreate>

                        <button (click)="createCentreArchive()"
                                class="px-6 ml-3"
                                mat-flat-button
                                [disabled]="!centreForm.valid"
                                [color]="'primary'">
                            Save
                        </button>
                    </ng-template>
                </div>
            </form>
        </div>
    </div>
</div>

